<!DOCTYPE html5>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/script.js"></script>
</head>

<body>
    <h1 class="title">HUMAN-LIKE MOVING ROBOT</h1>

    <div>
        <img src="static/Panda.png" width="50%" alt="Panda robot">
        <button onclick="window.location.href='/page1'">Start</button>
    </div>

    <script>
        waitGoToPage();
    </script>
</body>