<!DOCTYPE html5>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="static/script2.js"></script>
    <script>
        interface();
    </script>
</head>

<body>
    <h1 class="title">EXECUTION</h1>

    <div id="btnsec" class="main2">
        <p id="msg">...</p>
        <div>
            <button class="out" onclick="window.location.href='/page1'">Prev</button>
            <div id="btn">
            </div>
            <button class="out" onclick="window.location.href='/'">Home</button>
        </div>
    </div>

    <div class="main2">
        <h2 class="title">TRAJECTORIES</h2>
        <div id="traj" class="main2">
            <div>
                <p class="inst">Select trajectory to execute</p>
            </div>
            <div id="tests"  class="main2">
            </div>
        </div>
    </div>

    <button id="quit" class="out" onclick="executeTrajectory('_____quit____')">Quit</button>
</body>