<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="arm_id" default="panda" />
    <arg name="load_gripper" default="true" />
    <arg name="controller" default="position_joint_trajectory_controller" />
    <arg name="mode" default="ceil" />

    <param name="m_ee" value="0.76" if="$(arg load_gripper)" />
    <param name="mode" value="$(arg mode)" />

    <rosparam file="$(find humanlike_moving_robot)/config/controllers.yaml" subst_value="true" />    



    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <node pkg="controller_manager"
        type="spawner"
        name="$(arg arm_id)_gripper_spawner"
        if="$(arg load_gripper)"
        args="franka_gripper"
        respawn="false"
    />

    <node pkg="controller_manager"
        type="spawner"
        name="$(arg arm_id)_controller_spawner"
        respawn="false" output="screen"
        args="--wait-for initialized franka_state_controller $(arg controller)"
    />

    <node pkg="humanlike_moving_robot" type="gravity_comp.py" name="gravity_compensation" />
</launch>
