<?xml version="1.0" ?>

<launch>  
    <arg name="mode" default="ceil" />



    <!-- <node name="UI" pkg="user_interface" type="launch_UI.py" /> -->

    <include file="$(find humanlike_moving_robot)/launch/gazebo_panda_control.launch">
        <arg name="mode" value="$(arg mode)" />
    </include>

    <node name="IK_server" pkg="humanlike_moving_robot" type="IK_server" />

    <node name="controller_server" pkg="humanlike_moving_robot" type="controller.py" />

    <!-- <node name="client" pkg="humanlike_moving_robot" type="main.py" output="screen" /> -->
</launch>