<?xml version="1.0" ?>

<launch>  
    <arg name="mode" default="ceil" />
    <arg name="use_real_robot" default="false" />



    <include file="$(find humanlike_moving_robot)/launch/gazebo_panda_control.launch" unless="$(arg use_real_robot)">
        <arg name="mode" value="$(arg mode)" />
    </include>

    <include file="$(find humanlike_moving_robot)/launch/franka_panda_control.launch" if="$(arg use_real_robot)">
        <arg name="mode" value="$(arg mode)" />
    </include>

    <node name="IK_server" pkg="humanlike_moving_robot" type="IK_server" />

    <node name="controller_server" pkg="humanlike_moving_robot" type="controller.py" />

    <!-- <node name="client" pkg="humanlike_moving_robot" type="main.py" output="screen" /> -->
</launch>
